.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    .text-center
    %h2 GitLab cited as a Strong Performer in The Forrester Wave™: Continuous Delivery And Release Automation, Q2 2020
    .text-center
    Learn more about the Forrester report on our 
    %a{href: "https://about.gitlab.com/analysts/forrester-cdra20/"} commentary page
%hr.divider/
